:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

&,
&::before,
&::after {
  box-sizing: border-box;
}

a {
  font-weight: 600;
  color: inherit;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}

input[type="range"] {
  min-height: 44px;
}

button {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 0.6em 1.2em;
  min-height: 44px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

[data-elm-hot="true"] {
  display: contents;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.toolbar {
  display: flex;
  gap: 8px;
  font-variant-numeric: tabular-nums;
  align-items: center;
  padding: 0 8px 8px;
}

.header h1 {
  font-size: 1.6rem;
  margin: 0;
}

.logo {
  width: 48px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

label[for="counter-range"] {
  width: 48px;
}

output {
  min-width: 92px;
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 2.4rem;
  }

  .logo {
    width: 72px;
  }
}
